@import './theme.less';

@sider-bg: #000000;
@sider-menu-popup-bg: #000000;
@sider-menu-popup-color: #ffffff;
@sider-menu-popup-selected-bg: #000000;
@sider-menu-popup-selected-color: #ff0000;
@sider-scrollbar-color: #ffffff #000000;
