@import './theme.less';

@sider-bg: #f7f8f9;
@sider-menu-popup-bg: #f7f8f9;
@sider-menu-popup-color: #000000;
@sider-menu-popup-selected-bg: #000000;
@sider-menu-popup-selected-color: #ffffff;
@sider-scrollbar-color: #dddddd #f7f8f9;