// 定义 var 引用的变量
@logo-height: 50px;

html,
body {
  margin: 0;
  padding: 0;
}

.s-sider {
  height: 100vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  border-right: 1px solid #e5e5e5;
  box-shadow: 2px 0 5px #e5e5e5;
}

.s-logo {
  height: @logo-height;
  line-height: @logo-height;
  text-align: center;

  img {
    line-height: @logo-height;
    height: 25px;
    vertical-align: middle;
  }
}

.s-menu {
  height: calc(100vh - @logo-height);
  border-inline-end: none !important;
  overflow-y: auto;
  scrollbar-width: thin;
  // scrollbar-gutter: stable; // 默认显示滚动条，即使没有溢出内容

  // light 滚动条
  scrollbar-color: #dddddd #f7f8f9;
}

// dark 滚动条
.s-menu.ant-menu-dark {
  scrollbar-color: #dddddd #000000;
}

// 折叠时 group 标题替换为分割线
.ant-layout-sider-collapsed {
  // 第一个 group 不显示分割线
  .ant-menu-item-group {
    .ant-menu-item-group-title {
      display: none;
    }

    & + .ant-menu-item-group {
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin: 15px auto;
        background: #000000;
        border: none;
      }
    }
  }

  // dark 主题时分割线改为白色
  .ant-menu-dark .ant-menu-item-group + .ant-menu-item-group::before {
    background: #ffffff;
  }
}

// 弹出菜单内容偏移和阴影
.ant-menu-submenu-popup.ant-menu-submenu {
  .ant-menu {
    // 弹出菜单内容偏移，避免与父菜单贴在一起，不好看
    margin-left: 5px;
    box-shadow: 0 0 5px #e5e5e5;
  }
}
